<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW5oSx0c3hauf-M5jl9ewHIQoe8OhMEe0</string>
	<key>GCM_SENDER_ID</key>
	<string>466457538668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.talktive</string>
	<key>PROJECT_ID</key>
	<string>talktive3-58486</string>
	<key>STORAGE_BUCKET</key>
	<string>talktive3-58486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466457538668:ios:83d1747e360adf4001e849</string>
</dict>
</plist>